:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;

    color: #123;
    background-color: #ffd;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 700px;
}

hr {
    border: none;
    border-top: 1px dashed currentColor;
}

table, td, th {
    border: 1px solid #68a;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    padding: .25rem .5rem;
}
